
<p id="notice"><%= notice %></p>
<p>
  <b>Name:</b>
  <%= @user.name %>
</p>
<p>
  <b>Nick:</b>
  <%= @user.nick %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Website:</b>
  <%= @user.website %>
</p>

<p>
  <b>City:</b>
  <%= @user.city %>
</p>

<p>
  <b>Slogan:</b>
  <%= @user.slogan %>
</p>

<p>
  <b>Jointime:</b>
  <%= @user.jointime %>
</p>

<p>
  <b>Qq:</b>
  <%= @user.qq %>
</p>

<p>
  <b>Phonecall:</b>
  <%= @user.phonecall %>
</p>

<p>
  <b>Weibo:</b>
  <%= @user.weibo %>
</p>

<p>
  <b>Birthday:</b>
  <%= @user.birthday %>
</p>

<p>
  <b>Constellation:</b>
  <%= @user.constellation %>
</p>

<p>
  <b>Twitter:</b>
  <%= @user.twitter %>
</p>

<p>
  <b>Weixin:</b>
  <%= @user.weixin %>
</p>

<p>
  <b>Github:</b>
  <%= @user.github %>
</p>

<p>
  <b>Dribbble:</b>
  <%= @user.dribbble %>
</p>

<p>
  <b>Avatar:</b>
  <%= @user.avatar %>
</p>

<p>
  <b>Graduation:</b>
  <%= @user.graduation %>
</p>

<p>
  <b>Role:</b>
  <%= @user.role %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
