<div id="header">
	<ul>
		<li><a class="current_link" href="#" >HOME</a></li>
		<li><a href="#">LIST</a></li>
		<li><a href="#">Statistics</a></li>
	</ul>
</div>
<%= display_notice_and_alert %>
<span><%= "Welcome @" + current_user.name_or_nick if current_user%></span>
<div id="knock">
	<!-- Open the door button -->
</div>

<div id="status">
	<% @users.each do |user|%>
	<div class="card">
		<div class="profile">
			<%= link_to(image_tag(user.avatar,:alt=>user.status,:class=>user.status),"#" ) if user.avatar %>
			<p><a href="#">@<%= user.nick_or_name %></a></p>
		</div>
		<div class="statu_comments"><%= user.leaved if user.status == "offline" %></div>
	</div>		

	<% end %>
</div>



		<!-- <div id="list">
			<ul>
				<li>周</li>
				<li>月</li>
				<li>总</li>
			</ul>
			
		</div>
		<div id="statistics"></div> -->