
<%= render :partial => "mobile_nav" %>


	<% @users.each do |user| %>

<div class="span12 menber_list">
  <div class="span1 teach-itme">
    <%= link_to(image_tag(user.avatar,:alt=>user.status,:class=>user.status),"#" ) if user.avatar %>
    <p class="online-status"><%= user.nick_or_name %></p>
  </div>
  <div class="span10">
		<% if user.status != "office" && user.custom_status_comment %>
		<p  class="time-status"><%= user.status_comments  %></p>
		<% end %>

    <h4><%= user.custom_status_comment %></h4>

    <p class="pull-right leavetime_status"><%= user.status == "offline" ? user.leaved : user.logs.last.device %></p>
  </div>
  <div class="row bg"></div>
</div>

<% end %>
<%= render :partial => 'layouts/mobile_footer' %>