<%= render :partial => "mobile_nav" %>
<span><%= "Welcome @" + current_user.name_or_nick if current_user%></span>
<div id="knock">
	<!-- Open the door button -->
</div>

<div id="status">
	<% @users.each do |user|%>
	<div class="card ">
		<div class="profile">
			<%= link_to(image_tag(user.avatar,:alt=>user.status,:class=>user.status),"#" ) if user.avatar %>
			<span><a href="#">@<%= user.nick_or_name %></a></span>
		</div>

		<div class="right_comments">
			<% if user.status != "office" && user.custom_status_comment %>
			<div class="custom_comments">
				<span><%= user.custom_status_comment %></span>				
			</div>
			<% end %>

			<div class="statu_comments">
					<p><%= user.status_comments  %></p>
			</div>

			<div class="leave_or_from">
				<%= user.status == "offline" ? user.leaved : "from iphone"%>
			</div>

		</div>
		
	</div>
	<% end %>
</div>

<%= render :partial => 'layouts/mobile_footer' %>


		<!-- <div id="list">
			<ul>
				<li>周</li>
				<li>月</li>
				<li>总</li>
			</ul>
			
		</div>
		<div id="statistics"></div> --><!-- user statistics-->
